
body {
    height: 125vh;
    background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg');
    background-size: cover;
    font-family: sans-serif;
}
  /* Add a dark blue background color to the top navigation */
header {
  background-color: #00008B;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  display: flex;
  height: 80px;
}

main {
  color: black;
}

   header * {
     display: inline;
   }

   header li {
     margin: 20px;
   }

  /* Style the links inside the navigation bar */
  header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  header a:hover:not(.active) {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */

  .active {
    background-color: #4cbdcf;
    color: white;
    font-family: "sansserif";
  }
